.active {
    color: #ff6d00;
}




nav {
    width: 100%;
    max-width: 1258px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.logo {
    flex: 1;

    /* width: 100%; */
}

nav .logo img {
    width: 150px;
    z-index: 900000;
}

.div img {
    display: none;
    width: 90px;
}

nav img,
nav .button_menu {
    z-index: 100000;
}

nav .button_menu {
    font-size: 1.7rem;
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #0e141a;
}

.menu {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-left: 2rem;
}

.links-menu {
    display: flex;
    gap: 1rem;
    padding: 0.4rem 1.5rem;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 25x rgba(23, 30, 34, 0.658);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

nav .menu .link-menu {
    color: #161d2c;
    transition: all 0.3s;
    font-weight: 500;
}

nav .menu .link-menu {
    color: #161d2c;
}

nav .menu .link-menu:hover {
    color: var(--vibrant);
}

.nav-btn {
    display: flex;
    gap: 1.2rem;
}

.nav-btn>a {
    padding: 0.3rem 0.6rem;
    border-radius: 5em;
    transition: .3s;
}

.login {
    background-color: var(--vibrant);
    color: var(--primary);
}

.login:hover {
    color: #fff;
    box-shadow: #ffc519be 0px 9px 30px 0px;
}

.register:hover {
    color: #fff;
    box-shadow: #303f9fa1 0px 9px 30px 0px;
}

.register {
    background-color: var(--primary);
    color: var(--bg-color);
}


@media (max-width: 768px) {
    header {
        position: fixed;
        background-color: var(--bg-color);
        box-shadow: #110c2e11 0px 15px 50px 0px;
    }

    .menu {
        position: absolute;
        left: 1000px;
        font-size: 36px;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0;
        padding: 0.3rem 1.5rem;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        top: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 1.3rem;
        transition: 0.5s cubic-bezier(1, 0.575, 0.9, 3);
    }

    .nav-btn {
        flex-direction: column;
    }

    .logo img {
        top: 25%;
        position: absolute;
        z-index: 10000;
    }

    .links-menu {
        flex-direction: column;
        gap: 1rem;
        padding: 0.4rem 1.5rem;
        border-radius: 50px;
        background: transparent;
        box-shadow: none;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: none;
        widows: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu_mobile {
        text-align: center;
        gap: 1.5rem;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0;
        padding: 0.3rem 1.5rem;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        top: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 1.3rem;
        transition: all 0.5s ease;

        background: #f5f5f5a1;
    }

    nav .button_menu {
        display: block;
    }
}